/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* COLORS PALETTE */
:root{
    --color-primary:#ffffff;
    --color-bg-skyblue:#b4d0e7;
    --color-bg-footer:#000000;
    --color-buttons:#0061ff;
    --color-last-section-text:#61082b;
    --color-box1-left:#a2d39b;
    --color-box2-left:#61082b;
    --color-box3-left:#0093ce;
    --color-box4-left:#ff1c1c;
    --color-box1-right:#d5001f;
    --color-box2-right:#b4d0e7;
    --color-box3-right:#0d2481;
    --color-box4-right:#ffd830;
}

/* DEBUG */
.debug-1{
    border: 1px solid black;
}
.debug-2{
    border: 1px solid red;
}
.debug-3{
    border: 1px solid lime;
}

/* UTILITIES */
.container{
    max-width: 1200px;
    min-width: 500px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.d-flex-center{
    display: flex;
    justify-content: center;
}
.flex-s-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.border{
    border: 1px solid var(--color-bg-footer);
}
.center{
    text-align: center;
}
/* NAVBAR */
nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: var(--color-primary);
    padding: 10px 10px;
    top: 0;
}
nav a{
    color: var(--color-bg-footer);
    text-decoration: none;
}
nav a:hover{
    text-shadow: 0px 0px 1px;
}
nav ul{
    list-style-type: none;
}
.navbar-left *,.navbar-right *{
    padding: 4px;
}
#nav-button{
    background-color: var(--color-buttons);
    color: var(--color-primary);
}

/* HEADER */
header{
    background-color: var(--color-bg-skyblue);
    /* height: 400px; */
    padding-top: 50px;
}

h1{
    font-size: 3em;
    text-align: center;
}
.heading-left p{
    width: 350px;
}
.heading-right img{
    transform: translateY(60px);
}
span{
    display:block;
}
#arrow{
    padding-bottom: 20px;
}
.button{
    background-color: var(--color-buttons);
    padding: 1px 6px;
    color: var(--color-primary);
}
.heading-right{
    max-width: 50%;
}
.heading-right img{
    max-width: 100%;
    position: relative;
    
}

/* MAIN */
main{
    padding:80px 150px;
}
.radio{
    padding: 10px 0px;
}
.alternate-plan{
    color: var(--color-box3-right);
    text-decoration: underline;
}
hr{
    width: 30px;
}
.main-container{
    display: flex;
    max-width: 100%;
    border: 1px solid var(--color-bg-footer);
}
.main-container-content{
    width: calc(100%/3);
    border:1px solid var(--color-bg-footer) ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .content-1 span{
    max-width: 70%;
}
.content-2 span{
    max-width: 70%;
}
.content-3 span{
    max-width: 80%;
} */
.plan{
    border-bottom: 1px solid black;
    text-align: center;
}
.enterprise{
    margin: 50px 0px;
}
.flex-enterprise{
    display: flex;
    justify-content: space-between;
}
.left *{
    padding: 10px
}